<template>
  <div>
    <v-card
      min-height="100"
    >
      <v-row
      >
        <v-col
          cols="12"
          class="text-center"
        >
          Menu préparé par le <span class="text-uppercase font-weight-black">chef {{this.userChef.name}}</span>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          class="text-center"
        >
        <v-btn
          color="info"
          :to="`/homeChef/chef/${this.idChef}`"
          name="Détail menu"
        >
          Fiche Chef
        </v-btn>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      idMenu: this.$route.params.id,
      idChef: null,
      chef: [],
      userChef: [],
    }
  },
  async created () {
    await this.$axios
    .get(`/menu/detail/${this.idMenu}`)
    .then(response => {
      this.idChef = response.data.chef_id
    })
    await this.$axios
    .get(`/chef/${this.idChef}`)
    .then(response => {
      this.chef = response.data
    })
    await this.$axios
    .get(`/chef/user/${this.idChef}`)
    .then(response => {
      this.userChef = response.data
    })
  },
  methods: {

  }
}
</script>

<style>

</style>
