<template>
  <div>
    <h2
      class="text-center"
    >
      Fiche du chef
      <span
        class="text-uppercase"
      >
        {{this.userChef.name}}
      </span>
    </h2>
    <v-row>
      <v-col
        cols="12"
        lg="4"
      >
        <v-card
          min-height="200"
        >
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
            <img
              :src="chef.photo"
              max-height="150px"
              height="150px"
              :alt="`Photo du chef ${userChef.name}`"
            >
            <p
              class="text-uppercase font-weight-black"
            >
              Chef {{userChef.name}}
            </p>
            </v-col>
          </v-row>
        </v-card>
        <v-card
          min-height="200"
          class="mt-5"
        >
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>À propos</h3>
              <v-card-text>{{chef.bio}}</v-card-text>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>Zone desservie</h3>
              <v-card-text>{{localisation.city}}, rayon de {{localisation.rangeNumber}} km</v-card-text>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <h3 class="mb-4">Coordonnées</h3>
              <v-icon>mdi-phone</v-icon><v-card-text>{{userChef.phone}}</v-card-text>
              <v-icon>mdi-email</v-icon><v-card-text>{{userChef.email}}</v-card-text>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col
        col="12"
        lg="8"
      >
        <v-row
          v-if="menus.length !== 0"
        >
          <v-col
            cols="12"
            v-for="menu in menus"
            :key="menu.id"
          >
            <v-card
              min-height="200"
            >
              <div
                class="menu-title text-center"
              >
                <h2 class="pt-3">{{menu.title}}</h2>
              </div>
              <div
                class="menu-description text-center pt-3"
              >
                {{menu.description}}
              </div>
                <v-row
                  class="menu-button text-center pt-3"
                >
                  <v-col
                    cols="12"
                  >
                    <v-btn
                      color="info"
                      :to ="`/homeChef/menus/${menu.id}`"
                      name="Détail menu"
                    >
                      Voir
                    </v-btn>
                  </v-col>
                </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import booking from '~/components/formUser/booking'
export default {
  components: {
    booking,
  },
  data () {
    return {
      idChef: this.$route.params.id,
      chef: [],
      userChef: [],
      localisation: [],
      menus: [],
    }
  },
  async created () {
    await this.$axios
    .get(`/chef/${this.idChef}`)
    .then(response => {
      this.chef = response.data
    })
    await this.$axios
    .get(`/chef/${this.idChef}/localisation`)
    .then(response => {
      this.localisation = response.data
    })
    await this.$axios
    .get(`/chef/${this.idChef}/menus`)
    .then(response => {
      this.menus = response.data
    })
    await this.$axios
    .get(`/chef/user/${this.idChef}`)
    .then(response => {
      this.userChef = response.data
    })
  },
  methods: {

  }
}
</script>

<style>
  img {
    border-radius: 50%;
  }
</style>
