<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        class="text-center"
      >
        <v-btn
          class="menu"
          color="info"
          to ="/chef/menus"
          name="Menu chef"
        >
          Mes menus
        </v-btn>
        <v-btn
          class="edit-menu"
          color="info"
          :to ="`/chef/menus/edit/${menu.id}`"
          name="éditer menu"
        >
          Éditer ce menu
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12" lg="3"
      >
        <p
          class="font-weight-black"
        >
          Prix par convives : {{this.menu.price}} euros
        </p>
      </v-col>
      <v-col
        cols="12"
        lg="9"
      >
        <detail />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import detail from '~/components/menus/detail'
export default {
  components: {
    detail,
  },
  data () {
    return {
      menu : [],

    }
  },
  async created () {
    await this.$axios
    .get(`/user/me/chef/detail/menu/${this.$route.params.id}`)
    .then(response => {
      this.menu = response.data
    })
    .catch((e) => {
      this.menu = []
    })
  },
  methods: {

  }
}
</script>

<style>
  .title {
    height: 4rem;
    overflow: auto;
  }

  @media (min-width: 1264px) {
    .edit-menu {
      float: right;
    }
  }
</style>
