<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <detailChef />
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import detailChef from '~/components/menus/chef/detail'

export default {
  middleware: 'authenticated',
  components: {
    headerChef,
    detailChef,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Fiche chef",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
