<template>
  <div>
    <h2 class="text-center">Réservation à venir</h2>
    <v-row
      v-if="this.bookings.length > 0"
    >
      <v-col
        cols="12"
        v-for="booking in bookings"
        :key="booking.id"
      >
        <v-card
          min-height="200"
        >
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h2>{{booking.titleMenu}}</h2>
              <p class="mt-4">{{booking.descriptionMenu}}</p>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              E-mail du chef : {{booking.emailChef}}
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Téléphone du chef : {{booking.phoneChef}}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Date de réservation : {{booking.date}}
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Heure de réservation : {{booking.idPeriod === 1 ? "11h00 - 14h00" : "18h00 - 21h00"}}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Prix de la réservation : {{booking.priceMenu}} euros
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Nombre de convives : {{booking.guest}}
            </v-col>
          </v-row>
          <v-row
            v-if="booking.allergy"
          >
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>Allergies</h3>
              {{booking.allergy}}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              <v-btn
                color="info"
                :to="`/user/booking/${booking.idMenu}`"
                name="Booking user"
              >
                Voir le menu détaillé
              </v-btn>
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              <v-btn
                color="info"
                @click="deleteBooking(booking.id)"
                name="Supprimer réservation"
              >
                Annuler
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      v-else
    >
      <v-col>
        <v-card
          min-height="200"
        >
          <v-row
            class="noBooking"
          >
            <v-col
              cols="12"
              class="text-center mt-12"
            >
              <h2>Vous n'avez pas de réservations à venir</h2>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <h2 class="text-center mt-5">Réservations passées</h2>
    <v-row
      v-if="this.bookingsPast.length > 0"
    >
      <v-col
        cols="12"
        v-for="booking in bookingsPast"
        :key="booking.id"
      >
        <v-card
          min-height="200"
        >
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h2>{{booking.titleMenu}}</h2>
              <p class="mt-4">{{booking.descriptionMenu}}</p>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              E-mail du chef : {{booking.emailChef}}
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Téléphone du chef : {{booking.phoneChef}}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Date de réservation : {{booking.date}}
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Heure de réservation : {{booking.idPeriod === 1 ? "11h00 - 14h00" : "18h00 - 21h00"}}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Prix de la réservation : {{booking.priceMenu}} euros
            </v-col>
            <v-col
              cols="12"
              lg="6"
              class="text-center"
            >
              Nombre de convives : {{booking.guest}}
            </v-col>
          </v-row>
          <v-row
            v-if="booking.allergy"
          >
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>Allergies</h3>
              {{booking.allergy}}
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <v-btn
                color="info"
                :to="`/user/booking/${booking.idMenu}`"
                name="Menu détaillé"
              >
                Voir le menu détaillé
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      v-else
    >
      <v-col>
        <v-card
          min-height="200"
        >
          <v-row
            class="noBooking"
          >
            <v-col
              cols="12"
              class="text-center mt-12"
            >
              <h2>Vous n'avez pas de réservations passées</h2>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  components: {
  },
  data () {
    return {
      bookings : [],
      bookingsPast: [],
    }
  },
  async created () {
    await this.$axios
    .get('/user/me/booking')
    .then(response => {
      this.bookings = response.data
    })
    await this.$axios
    .get('/user/me/booking/past')
    .then(response => {
      this.bookingsPast = response.data
    })
  },
  methods: {
    async deleteBooking (idBooking) {
      await this.$axios.post(`user/me/remove/booking`, {
        idBooking: idBooking
      })
      await this.$axios
      .get('/user/me/booking')
      .then(response => {
        this.bookings = response.data
      })
    }
  },
  computed: {

  }
}
</script>

<style>

</style>
