<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center mb-4"
        >
          <h2>Votre menu réservé</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
        >
          <v-btn
            color="info"
            to ="/user/booking"
            name="Réservation user"
          >
            Mes réservations
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
        >
          <detail/>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import detail from '~/components/menus/detail'

export default {
  middleware: ['authenticated', 'isAuthenticatedChef'],
  components: {
    headerChef,
    detail,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Menu réservé",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
