<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <booking />
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import booking from '~/components/booking/list'

export default {
  middleware: ['authenticated', 'isAuthenticatedChef'],
  components: {
    headerChef,
    booking,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Réservation",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
