<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        class="text-center"
      >
        <h2>Localisation</h2>
      </v-col>
    </v-row>
    <v-row
    >
      <v-col>
        <v-form
          ref="form"
          v-model="valid"
          id="app"
          @submit="checkForm"
          method="post"
          lazy-validation
        >
          <v-row>
            <v-col cols="12" lg="4">
              <v-autocomplete
                v-model="cityLocalisation"
                :items="cityName"
                label="Ville"
                placeholder="Entrer le nom de votre ville"
                prepend-icon="mdi-city"
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" lg="4">
              <v-select
                v-model="rayon"
                :items="numberRayon"
                label="Rayon autour de la ville en km"
              ></v-select>
            </v-col>
            <v-col cols="12" lg="4" class="mt-4">
              <v-btn
                color="info"
                type="submit"
                name="Enregistrer"
              >
                Enregistrer
              </v-btn>
            </v-col>
          </v-row>
          <v-row
            v-if="errors"
          >
            <v-col
              cols="12"
              lg="2"
              v-for="(error, index) in errors"
              :key="index"
              class="errors"
            >
              {{error}}
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      valid: true,
      cityLocalisation: null,
      rayon: null,
      numberRayon: [
        0,
        25,
        50,
        100
      ],
      cityName: [],
      localisations: [],
      errors: [],
    }
  },
  async created () {
    await this.$axios
    .get('/user/me/chef/localisations')
    .then(response => {
      this.localisation = response.data
      this.cityLocalisation = this.localisation.cityLocalisation
      this.rayon = this.localisation.rayon
    })
    await this.$axios
    .get('/city/list')
    .then(response => {
      let cities = response.data
      for (let city of cities) {
        this.cityName.push(city.name)
      }
    })

  },
  methods:{
    checkForm: function (e) {
      this.errors = []
      if (!this.cityLocalisation) {
        this.errors.push('Ville pour la localisation obligatoire')
      }
      if (this.rayon !== parseInt(this.rayon, 10)) {
        this.errors.push('Rayon obligatoire')
      }
      if (this.errors.length === 0) {
        this.$axios.post('user/me/chef/localisation/add', {
          cityName: this.cityLocalisation,
          rayon: this.rayon,
        })
      }
      e.preventDefault();
    }
  }
}
</script>
<style>
  .errors{
    color: red;
  }
  .text-muted{
    opacity: 0.5;
  }
</style>
