<template>
  <div>
    <v-form
      ref="form"
      v-model="valid"
      id="app"
      @submit="checkForm"
      method="post"
      lazy-validation
    >
      <v-row>
        <v-col cols="12" lg="6">
          <v-text-field
            v-model="bio"
            label="Biographie"
          ></v-text-field>
        </v-col>
        <v-col cols="12" lg="6">
          <v-text-field
            v-model="photo"
            label="Photo de profil"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row
        v-if="errors"
      >
        <v-col
          cols="12"
          lg="2"
          v-for="(error, index) in errors"
          :key="index"
          class="errors"
        >
          {{error}}
        </v-col>
      </v-row>
      <v-btn
        color="info"
        type="submit"
        name="Enregistrer"
      >
        Enregistrer
      </v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      valid: true,
      bio: null,
      photo: null,
      errors: [],
    }
  },

  methods:{
    checkForm: function (e) {
      this.errors = []
      if (!this.bio) {
        this.errors.push('Biographie obligatoire')
      }
      if (!this.photo) {
        this.errors.push('Photo obligatoire')
      }
      if (this.errors.length === 0) {
        this.$axios.post('user/me/chef/add/info', {
          bio: this.bio,
          photo: this.photo
        })
      }
      e.preventDefault();
      this.$router.go(0)
    }
  }
}
</script>
