<template>
  <div>
    <v-row>
      <v-col>
        <v-form
          ref="form"
          v-model="valid"
          id="app"
          @submit="checkForm"
          lazy-validation
        >
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h3>Information menu</h3>
              <span>Vous devez mettre un titre et une description pour votre menu</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="title"
                label="Titre du menu"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="description"
                label="Description du menu"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h3>Entrée</h3>
              <span>Vous pouvez choisir 1 entrée pour votre menu</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="titleStarter"
                label="Titre de l'entrée"

              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="descriptionStarter"
                label="Description de l'entrée"

              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h3>Plat</h3>
              <span>Vous pouvez choisir 1 plat pour votre menu</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="titleDish"
                label="Titre du plat"

              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="descriptionDish"
                label="Description du plat"

              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h3>Dessert</h3>
              <span>Vous pouvez choisir 1 dessert pour votre menu</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="titleDessert"
                label="Titre du dessert"

              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="descriptionDessert"
                label="Description du dessert"

              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h3>Régime alimentaire</h3>
              <span>Vous pouvez choisir 1 ou plusieurs régime alimentaire pour votre menu</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
              lg="2"
              v-for="diet in diets"
              :key="diet.id"
            >
              <v-checkbox
                v-model="checkedDiets"
                :label="diet.name"
                color="info"
                :value="diet.name"
                hide-details
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h3>Catégories</h3>
              <span>Vous pouvez choisir 1 ou plusieurs catégories pour votre menu</span>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
              lg="2"
              v-for="category in categories"
              :key="category.id"
            >
              <v-checkbox
                v-model="checkedCategories"
                :label="category.name"
                color="info"
                :value="category.name"
                hide-details
              ></v-checkbox>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              lg="4"
            >
            <v-text-field
              v-model="price"
              label="Prix par convives"
              placeholder="Exemple : 35"
            ></v-text-field>
            </v-col>
          </v-row>
          <v-row
            v-if="errors"
          >
            <v-col
              cols="12"
              lg="2"
              v-for="(error, index) in errors"
              :key="index"
              class="errors"
            >
              {{error}}
            </v-col>
          </v-row>
          <v-btn
            color="info"
            type="submit"
            name="Enregistrer"
          >
            Enregistrer
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      valid: true,
      title: null,
      description: null,
      titleStarter: null,
      descriptionStarter: null,
      titleDish: null,
      descriptionDish: null,
      titleDessert: null,
      descriptionDessert: null,
      menu: null,
      diets: [],
      categories: [],
      nameDiet: null,
      nameCategory: null,
      price: null,
      errors: [],
      checkedDiets: [],
      checkedCategories: [],
    }
  },
  async created () {
    await this.$axios
    .get('/user/me/chef/menu/diets')
    .then(response => {
      this.diets = response.data
    })
    await this.$axios
    .get('/user/me/chef/menu/categories')
    .then(response => {
      this.categories = response.data
    })
  },
  methods: {
    checkForm: function (e) {
        this.errors = []
        if (!this.title) {
            this.errors.push('Titre menu obligatoire')
        }
        if (!this.description) {
            this.errors.push('Description menu obligatoire')
        }

        if (!this.titleStarter) {
            this.errors.push('Titre entrée obligatoire')
        }
        if (!this.descriptionStarter) {
            this.errors.push('Description entrée obligatoire')
        }

        if (!this.titleDish) {
            this.errors.push('Titre plat obligatoire')
        }
        if (!this.descriptionDish) {
            this.errors.push('Description plat obligatoire')
        }

        if (!this.titleDessert) {
            this.errors.push('Titre dessert obligatoire')
        }
        if (!this.descriptionDessert) {
            this.errors.push('Description dessert obligatoire')
        }
        if (!this.price) {
          this.errors.push('Prix obligatoire')
        }
        if (isNaN(this.price)) {
          this.errors.push('Prix doit être un nombre')
        }
        if (this.errors.length === 0) {
          this.$axios
          .post('user/me/chef/menu/add', {
            titleMenu: this.title,
            descriptionMenu: this.description,
            priceMenu: this.price
          })
          .then(response => {
            this.menu = response.data
            this.$axios.post(`user/me/chef/menu/edit/${this.menu.idMenu}/starter`, {
              nameStarter: this.titleStarter,
              descriptionStarter: this.descriptionStarter
            })
            this.$axios.post(`user/me/chef/menu/edit/${this.menu.idMenu}/dish`, {
              nameDish: this.titleDish,
              descriptionDish: this.descriptionDish
            })
            this.$axios.post(`user/me/chef/menu/edit/${this.menu.idMenu}/dessert`, {
              nameDessert: this.titleDessert,
              descriptionDessert: this.descriptionDessert
            })
            for (this.nameDiet of this.checkedDiets) {
              this.$axios.post(`user/me/chef/menu/edit/${this.menu.idMenu}/add/diet`, {
                nameDiet: this.nameDiet
              })
            }
            for (this.category of this.checkedCategories) {
              this.$axios.post(`user/me/chef/menu/edit/${this.menu.idMenu}/add/category`, {
                nameCategory: this.category
              })
            }
          })
          this.$router.push({path: '/chef/menus'})

        }
        e.preventDefault();
    }
  }
}
</script>

<style>
  .errors{
    color: red;
  }
</style>
