<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center mb-4"
        >
          <h2>Créer un menu</h2>
        </v-col>
      </v-row>
      <formMenuChef />
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import formMenuChef from '~/components/formChef/formMenuChef'

export default {
  middleware: ['authenticated', 'isAuthenticatedUser'],
  components: {
    headerChef,
    formMenuChef,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Créer un menu",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
