<template>
  <div class="footer">
    <div class="footer-info">
      <v-container
        class="mb-6"
      >
        <v-row class="text-center">
          <v-col cols="12" md="4" class="border">
            <h3>À propos</h3>
            <div class="text-footer">
              <p>Nous vous proposons de découvrir de nouvelles expériences culinaires. En effet, de nombreux chefs sont à disposition dans votre ville, profitez-en !</p>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <h3>Contact</h3>
            <div class="text-footer">
              <v-icon>mdi-email</v-icon><p>homeChef@gmail.com</p>
              <v-icon>mdi-phone</v-icon><p>06 46 11 94 90</p>
              <v-icon>mdi-map-marker</v-icon><p>Siège social Nancy</p>
            </div>
          </v-col>
          <v-col cols="12" md="4">
            <h3>Liens</h3>
            <div class="text-footer">
              <p><a href="/connexionChef">Vous êtes chef ?</a></p>
              <p><a href="/">Présentation de HomeChef</a></p>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-footer
      padless
      absolute
    >
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>HomeChef</strong>
      </v-col>
    </v-footer>
  </div>
</template>

<script>
export default {
}
</script>

<style>
.text-footer{
  text-align: -webkit-center;
  margin-top: 1rem;
}
.text-footer p {
  max-width: 30rem;
}
.text-footer a {
  text-decoration: none;
  color: white;
}
.text-footer a:hover {
  font-weight: bold;
  font-size: 18px;
}
.footer-info {
  background-color: #b53e3e;
  color: white;
}
</style>
