<template>
  <div class="navbar">
    <v-toolbar flat>
      <v-toolbar-title class="title-toolbar">HomeChef</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu transition="slide-x-transition">
        <template v-slot:activator="{ on }">
          <v-btn
            class="icon-menu"
            v-on="on"
            text
            name="Bouton navbar"
          >
            <v-icon>mdi-menu</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="menu in menus"
            :key="menu.key"
            :to="menu.link"
          >
            <v-list-item-title v-text="menu.name"></v-list-item-title>
          </v-list-item>
          <v-list-item
            text
            @click="logout"
          >
            <v-list-item-title>Déconnexion</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-toolbar-items class="items-toolbar hidden-sm-and-down mr-12">
        <v-btn
          text
          class="items-menu"
          v-for="menu in menus"
          :key="menu.key"
          :to="menu.link"
          :name="menu.name"
        >
          {{ menu.name }}
        </v-btn>
        <v-btn
          text
          @click="logout"
          name="Déconnexion"
        >
          Déconnexion
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import Cookies from 'js-cookie'
export default {
  components: {
  },
  data () {
    return {
      menus: [
        {name: 'Accueil', link: '/', key: 1},
        {name: 'Tous les menus', link: '/homeChef/menus', key: 2},
        {name: 'Mon profil', link: '/user/profil', key: 3},
        {name: 'Mes réservations', link: '/user/booking', key: 4},
      ],
    }
  },
  methods: {
    async logout () {
      await Cookies.remove("JWT");
      this.$router.go(0)
    }
  }
}
</script>

<style>
  .title-toolbar {
    padding-left: 3rem;
  }
  .items-toolbar {
    padding-right: 3rem;
  }

  @media (min-width: 960px) {
    .icon-menu {
      display: none;
    }
  }

</style>
