<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center mb-4"
        >
          <h2>Mon profil</h2>
        </v-col>
      </v-row>
      <profil/>
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import profil from '~/components/formUser/profil'

export default {
  middleware: ['authenticated', 'isAuthenticatedChef'],
  components: {
    headerChef,
    profil,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Profil",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
