<template>
  <div>
    <v-row>
      <v-col>
        <span><v-icon color="grey">mdi-checkbox-blank-circle</v-icon> Indisponible </span>
        <span><v-icon color="primary">mdi-checkbox-blank-circle</v-icon> Disponible </span>
        <span><v-icon color="info">mdi-checkbox-blank-circle</v-icon> Réservé</span>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
          <v-row>
            <v-col cols="12" md="3" class="text-center">
              <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday" name="Aujourd'hui">
                Aujourd'hui
              </v-btn>
            </v-col>
            <v-col cols="12" md="3" class="text-center">
              <v-btn fab text small color="grey darken-2" @click="prev" name="Précédent">
                <v-icon small>mdi-chevron-left</v-icon>
              </v-btn>
              <v-btn fab text small color="grey darken-2" @click="next" name="Suivant">
                <v-icon small>mdi-chevron-right</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="12" md="3" class="text-center">
              {{ title }}
            </v-col>
            <v-col cols="12" md="3" class="text-center">
              <v-menu bottom right>
                <template v-slot:activator="{ on }">
                  <v-btn
                    outlined
                    color="grey darken-2"
                    v-on="on"
                  >
                    <span>{{ typeToLabel[type] }}</span>
                    <v-icon right>mdi-menu-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="type = 'week'">
                    <v-list-item-title>Semaine</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'month'">
                    <v-list-item-title>Mois</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
          </v-row>
        <v-sheet height="600">
          <v-calendar
            ref="calendar"
            v-model="focus"
            color="primary"
            :now="today"
            :type="type"
            :weekdays="weekday"
            :short-weekdays="false"
            :events="events"
            :event-color="getEventColor"
            @click:event="eventClick"
            :first-interval= 11
            :interval-minutes= 60
            :interval-count= 10
            @change="updateRange"
            locale="fr"
          >
          </v-calendar>
        </v-sheet>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    data: () => ({
      today: null,
      focus: '',
      type: 'week',
      weekday: [1, 2, 3, 4, 5, 6, 0],
      typeToLabel: {
        month: 'Mois',
        week: 'Semaine',
      },
      start: null,
      end: null,
      events: [],
      colorEventSelected : 'primary',
      colorEventNotSelected: 'grey',
      colorEventBooking : 'info',
      disponibilities: []
    }),
    async created () {
      await this.$axios
      .get('/user/me/chef/disponibilities')
      .then(response => {
        this.disponibilities = response.data
      })
    },
    computed: {
      title () {
        const { start, end } = this
        if (!start || !end) {
          return ''
        }

        const startMonth = this.monthFormatter(start)
        const endMonth = this.monthFormatter(end)
        const suffixMonth = startMonth === endMonth ? startMonth : endMonth

        const startYear = start.year
        const endYear = end.year
        const suffixYear = startYear === endYear ? startYear : endYear

        const startDay = start.day
        const endDay = end.day

        switch (this.type) {
          case 'month':
            return `${startMonth} ${startYear}`
          case 'week':
            return `${startDay} ${startMonth}  ${startYear} - ${endDay} ${suffixMonth} ${suffixYear}`
        }
        return ''
      },
      monthFormatter () {
        return this.$refs.calendar.getFormatter({
          timeZone: 'UTC', month: 'long',
        })
      },
    },
    mounted () {
      this.$refs.calendar.checkChange()
      const events =[]
      const date = new Date()

      const year = date.getFullYear()

      for (let month = 0; month <= 23; month++) {
        let dayMonth = new Date(year, month + 1, 0).getDate()

        for (var i = 1; i <= dayMonth; i++) {
          const startLunch = new Date(year, month, i, 11)

          const endLunch = new Date(year, month, i, 14)

          const startDinner = new Date(year, month, i, 18)

          const endDinner = new Date(year, month, i, 21)

          events.push({
            name : 'Déjeuner',
            start: this.formatDate(startLunch, true),
            end: this.formatDate(endLunch, true),
            select : false
          })
          events.push({
            name : 'Diner',
            start: this.formatDate(startDinner, true),
            end: this.formatDate(endDinner, true),
            select: false
          })
        }
      }
      this.events = events
    },
    methods: {
      viewDay ({ date }) {
        this.focus = date
        this.type = 'day'
      },
      setToday () {
        this.focus = this.today
      },
      prev () {
        this.$refs.calendar.prev()
      },
      next () {
        this.$refs.calendar.next()
      },
      updateRange ({ start, end }) {
        const events = []

        const min = new Date(`${start.date}T00:00:00`)
        const max = new Date(`${end.date}T23:59:59`)


        this.start = start
        this.end = end
      },
      rnd (a, b) {
        return Math.floor((b - a + 1) * Math.random()) + a
      },
      formatDate (a, withTime) {
        return withTime
          ? `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()} ${a.getHours()}:${a.getMinutes()}`
          : `${a.getFullYear()}-${a.getMonth() + 1}-${a.getDate()}`
      },
      formatDatePost (a) {
        a = new Date(a)
        if (a.getDate() < 10 && a.getMonth() < 9) {
          return `0${a.getDate()}/0${a.getMonth() + 1}/${a.getFullYear()}`
        }else if (a.getDate() < 10) {
          return `0${a.getDate()}/${a.getMonth() + 1}/${a.getFullYear()}`
        }else if (a.getMonth() < 9) {
          return `${a.getDate()}/0${a.getMonth() + 1}/${a.getFullYear()}`
        }else {
          return `${a.getDate()}/${a.getMonth() + 1}/${a.getFullYear()}`
        }
      },
      async eventClick ({event}) {
        const eventTab = event.start.split(' ')
        const tabDate = eventTab[0]

        const eventDate = this.formatDatePost(tabDate)
        const eventTime = eventTab[1]

        let period = null

        if (eventTime === '11:0') {
          period = 1
        }else {
          period = 2
        }
        const today = new Date()
        const todayIf = new Date(today.getFullYear(), today.getMonth(), today.getDate(),0 , 0, 0)

        if (new Date(tabDate) >= todayIf) {
          if (event.select === false ) {
            event.select = true
            await this.$axios
            .post('user/me/chef/disponibility/add', {
              date: eventDate,
              idPeriod: period,
              select: 0
            })
          }else {
            for (let dispo of this.disponibilities) {
              if (eventDate === dispo.date && period === dispo.period_id) {
                const index = this.disponibilities.indexOf(dispo)
                this.disponibilities.splice(index, 1)
              }
            }
            event.select = false
            await this.$axios
            .post('user/me/chef/disponibility/remove', {
              date: eventDate,
              idPeriod: period
            })

          }

        }
      },
      getEventColor (event) {
        const eventTab = event.start.split(' ')
        const tabDate = eventTab[0]

        const eventDate = this.formatDatePost(tabDate)
        const eventTime = eventTab[1]
        let period = null

        if (eventTime === '11:0') {
          period = 1
        }else {
          period = 2
        }
        const today = new Date()
        const todayIf = new Date(today.getFullYear(), today.getMonth(), today.getDate(),0 , 0, 0)

        if (new Date(event.start) >= todayIf) {
          if (event.select === true) {
            return this.colorEventSelected
          }else if (event.select === false){
            for (let dispo of this.disponibilities) {
              if (eventDate === dispo.date && period === dispo.period_id) {
                if (dispo.selected === true ) {
                  return this.colorEventBooking
                }else {
                  event.select = true
                }
              }
            }
            return this.colorEventNotSelected
          }
        }else  {
          return this.colorEventNotSelected
        }
      },
    },
  }
</script>

<style>

</style>
