<template>
  <div>
    <calendar/>
  </div>
</template>

<script>
import calendar from '~/components/chef/calendar'
export default {
  components: {
    calendar,
  },
  data: () => ({

  }),
  created () {
  },
  computed: {

  },
  mounted () {
  },
  methods: {

  },

}
</script>

<style>
  .disponibility-button {
    float: right;
  }
</style>
