<template>
  <div class="header">
    <div class="cooking">
      <div class="overlay"></div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>
  .cooking {
    background-image: url("../../assets/chef.jpg");
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom;
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }

</style>
