<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        lg="6"
        class="text-center"
      >
        Vous avez {{ menus.length >1 ? `${menus.length} menus` : `${menus.length} menu` }}
      </v-col>
      <v-col
        cols="12"
        lg="6"
        class="text-center"
      >
        <v-btn
          color="info"
          class="create-menu"
          to="/chef/menus/create"
          name="Créer menu"
        >
          Créer un menu
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12" lg="3"
      >
        Filtres
      </v-col>
      <v-col
        cols="12"
        lg="9"
      >
        <v-row
          v-if="menus !== []"
        >
          <v-col
            cols="12"
            v-for="menu in menus"
            :key="menu.id"
          >
            <v-card
              min-height="200"
            >
              <div
                class="menu-title text-center"
              >
                <h2 class="pt-3">{{menu.title}}</h2>
              </div>
              <div
                class="menu-description text-center pt-3"
              >
                {{menu.description}}
              </div>
                <v-row
                  class="menu-button text-center pt-3"
                >
                  <v-col
                    cols="12"
                    lg="4"
                  >
                    <v-btn
                      color="info"
                      :to ="`/chef/menus/view/${menu.id}`"
                      name="menu détail"
                    >
                      Voir
                    </v-btn>
                  </v-col>
                  <v-col
                    cols="12"
                    lg="4"
                  >
                    <v-btn
                      color="info"
                      :to ="`/chef/menus/edit/${menu.id}`"
                      name="editer menu"
                    >
                      Éditer
                    </v-btn>
                  </v-col>
                  <v-col
                    cols="12"
                    lg="4"
                  >
                    <v-btn
                      color="error"
                      @click="deleteMenu(menu.id)"
                      name="Supprimer menu"
                    >
                      Supprimer
                    </v-btn>
                  </v-col>
                </v-row>

            </v-card>
          </v-col>
        </v-row>
        <v-row
          v-else
        >
          <v-col
            cols="12"
          >
            Vous n'avez pas de menus
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      menus : [],

    }
  },
  async created () {
    await this.$axios
    .get('/user/me/chef/menu')
    .then(response => {
      this.menus = response.data
    })
    .catch((e) => {
      this.menus = []
    })
  },
  methods: {
    async deleteMenu (menuId) {
      await this.$axios.post(`user/me/chef/menu/${menuId}/remove`)
      await this.$axios
      .get('/user/me/chef/menu')
      .then(response => {
        this.menus = response.data
      })
    }
  }
}
</script>

<style>
  .menu-title {
    height: 4rem;
    overflow: auto;
  }

  @media (min-width: 1264px) {
    .create-menu {
      float: right;
    }
  }
</style>
