<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center mb-4"
        >
          <h2>Mon profil</h2>
        </v-col>
      </v-row>
      <formChefProfil/>
      <formLocalisation/>
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import formChefProfil from '~/components/formChef/formChefProfil'
import formLocalisation from '~/components/formChef/formLocalisation'
export default {
  middleware: ['authenticated', 'isAuthenticatedUser'],
  components: {
    headerChef,
    formChefProfil,
    formLocalisation,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Profil chef",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
