<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center"
        >
          <h2>Pour finaliser votre inscription, veuillez remplir ces champs</h2>
        </v-col>
      </v-row>
      <formChefRegister/>
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import formChefRegister from '~/components/formChef/formChefRegister'
export default {
  middleware: ['authenticated', 'isNotAuthenticatedChef'],
  components: {
    headerChef,
    formChefRegister,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Finalisation inscription chef",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
