<template>
  <v-app dark>
    <div
      v-if="connect && !user.chef_id"
    >
      <navbarUser/>
    </div>
    <div
      v-else-if="!connect"
    >
      <navbar/>
    </div>
    <div
      v-else-if="connect && user.chef_id"
    >
      <navbarChef/>
    </div>
    <nuxt />
    <footerApp />
  </v-app>
</template>

<script>
import navbar from '~/components/navbar'
import navbarUser from '~/components/navbarUser'
import navbarChef from '~/components/chef/navbarChef'
import footerApp from '~/components/footerApp'
import Cookies from 'js-cookie'
export default {
  components: {
    navbar,
    navbarUser,
    navbarChef,
    footerApp
  },
  data () {
    return {
      connect: [],
      user: []
    }
  },
  async created () {
    if (await Cookies.get("JWT")) {
      this.connect = Cookies.get("JWT")
      this.$axios.get("user/me")
      .then(response => (this.user = response.data))
    }else {
      this.connect = null
      this.user = null
    }
  }
}
</script>
<style>
</style>
