<template>
  <div>
    <v-flex>
      <headerConnection/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col cols="12" md="12" class="text-center mt-5">
          <googleLoginChef/>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
import headerConnection from '~/components/connexion/headerConnection'
import googleLoginChef from '~/components/connexion/googleLoginChef'

export default {
  middleware: 'isNotAuthenticatedChef',
  components: {
    googleLoginChef,
    headerConnection
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Page d'inscription chef",
    }
  },
  created () {
  },
  methods: {

  }
}
</script>

<style>

</style>
