<template>
  <div>
    <v-flex>
      <headerConnection/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col cols="12" md="12" class="text-center mt-5">
          <googleLogin/>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import headerConnection from '~/components/connexion/headerConnection'
import googleLogin from '~/components/connexion/googleLogin'


export default {
  middleware: 'isNotAuthenticatedLogIn',
  components: {
    headerConnection,
    googleLogin
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Page d'inscription",
    }
  },
  created () {

  },
  methods: {
  }
}
</script>

<style>

</style>
