<template>
  <div>
    <v-flex>
      <headerConnection/>
    </v-flex>
    <v-container class="text-center">
      <inscription/>
      <connexion/>
    </v-container>
  </div>
</template>


<script>
  import headerConnection from '~/components/connexion/headerConnection'
  import inscription from '~/components/connexion/inscription'
  import connexion from '~/components/connexion/connexion'
  export default {
    middleware: 'isNotAuthenticatedLogIn',
    components: {
      headerConnection,
      inscription,
      connexion,
    },
    data () {
      return {
      }
    },
    head () {
      return {
        title: "Page de connexion",
      }
    },
    created () {
    },

  }
</script>

<style>

</style>
