<template>
  <div>
    <headerHome/>
    <v-container>
      <aboutHomePage/>
      <topHome/>
      <menuHomePage/>
      <stats/>
      <chef/>
    </v-container>
  </div>
</template>

<script>
import headerHome from '~/components/chef/headerChef'
import aboutHomePage from '~/components/homepage/about'
import topHome from '~/components/homepage/top'
import menuHomePage from '~/components/homepage/menu'
import stats from '~/components/homepage/stats'
import chef from '~/components/homepage/chef'

export default {
  components: {
    headerHome,
    aboutHomePage,
    topHome,
    menuHomePage,
    stats,
    chef,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Page d'accueil",
    }
  },
  created () {
  },
}
</script>
