<template>
  <div>
    <div
      class=" mt-12  mb-12 menu"
    >
      <h2
        class="text-center info--text mb-5"
      >
        À propos
      </h2>
      <p>Le site HomeChef vous propose un service de cuisine à domicile. Des chefs, choisis par nos soins, viennent chez vous cuisiner, vous servir et nettoyer. Vous pouvez organiser des soirées autrement, vous n'avez plus qu'à profiter de celles-ci.</p>
      <p>De nombreux menus sont disponibles en fonction de votre localisation, vous n'avez plus qu'à franchier le pas et réserver une prestation.</p>
      <p>Nous vous proposons une recherche de menu simple, avec le choix de la ville, de la date et/ou de la tranche horaire voulue.</p>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  },
  created () {

  },
  methods: {

  }
}
</script>

<style>

</style>
