<template>
  <div>
    <div
      class="text-center mt-12  mb-12 menu"
    >
      <h2
        class="info--text"
      >
        Nos chefs
      </h2>
      <h3>
        Vous êtes chefs, vous souhaitez nous rejoindre ?
      </h3>
      <v-btn
        color="info"
        to ="/connexionChef"
        class="button-menu mt-5"
        name="Connexion chef"
      >
        Rejoignez-nous
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  },
  created () {

  },
  methods: {

  }
}
</script>

<style>

</style>
