<template>
  <div>
    <div
      class="text-center mt-12 menu"
    >
      <h2
        class="info--text"
      >
        Nos menus
      </h2>
      <h3>
        Nos menus sont préparés par nos chefs
      </h3>
      <v-btn
        color="info"
        to ="/homeChef/menus"
        class="button-menu mt-5"
        name="Liste menus"
      >
        Découvrir tous nos menus
      </v-btn>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  },
  created () {

  },
  methods: {

  }
}
</script>

<style>

</style>
