<template>
  <div>
    <v-row
      class="stats-row mt-12"
    >
      <v-col
        cols="12"
        lg="4"
        class="text-center"
      >
        <h2>{{this.menuTotal}}</h2>
        <p>{{this.menuTotal < 2 ? 'menu disponible' : 'menus disponibles'}}</p>
      </v-col>
      <v-col
        cols="12"
        lg="4"
        class="text-center"
      >
        <h2>{{this.chefTotal}}</h2>
        <p>{{this.chefTotal < 2 ? 'chef' : 'chefs'}}</p>
      </v-col>
      <v-col
        cols="12"
        lg="4"
        class="text-center"
      >
        <h2>{{this.bookingTotal}}</h2>
        <p>{{this.bookingTotal < 2 ? 'réservation passée' : 'réservations passées'}}</p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {

  },
  data () {
    return {
      menuTotal: null,
      chefTotal: null,
      bookingTotal: null,
    }
  },
  async created () {
    await this.$axios
    .get(`/menu/count`)
    .then(response => {
      this.menuTotal = response.data.totalMenu
    })
    await this.$axios
    .get(`/chef/count`)
    .then(response => {
      this.chefTotal = response.data.totalChef
    })
    await this.$axios
    .get(`/booking/count`)
    .then(response => {
      this.bookingTotal = response.data.totalBooking
    })
  },
  methods: {

  }
}
</script>

<style>

</style>
