<template>
  <div>
    <h2
      class="text-center mt-12 info--text"
    >
      Nos chefs cuisinent pour vous
    </h2>
    <h3
      class="text-center"
    >
      Ils préparent des repas d'excellences
    </h3>
    <v-row
      class="mt-5"
    >
      <v-col
        class="text-center"
        lg="4"
        cols="12"
      >
        <v-icon
          x-large
          color="info"
        >
          mdi-chef-hat
        </v-icon>
        <p
          class="mt-4"
        >
          Nous selectionnons les meilleurs chefs
        </p>
      </v-col>
      <v-col
        class="text-center"
        lg="4"
        cols="12"
      >
        <v-icon
          x-large
          color="info"
        >
          mdi-food-variant
        </v-icon>
        <p
          class="mt-4"
        >
          Nos chefs achètent les meilleurs ingrédients
        </p>
      </v-col>
      <v-col
        class="text-center"
        lg="4"
        cols="12"
      >
        <v-icon
          x-large
          color="info"
        >
          mdi-silverware-fork-knife
        </v-icon>
        <p
          class="mt-4"
        >
          Ils cuisinent chez vous
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
    }
  },
  created () {

  },
  methods: {

  }
}
</script>

<style>

</style>
