<template>
  <div>
    <v-row>
      <v-col>
        <v-form
          ref="form"
          v-model="valid"
          id="app"
          @submit="checkForm"
          method="post"
          lazy-validation
        >
          <v-row>
            <v-col
              cols="12"
            >
            <v-autocomplete
              v-model="city"
              :items="cityName"
              label="Ville"
              placeholder="Entrer le nom de votre ville"
              prepend-icon="mdi-city"
            ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
            >
              <v-menu
                v-model="fromDateMenu"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    label="Date"
                    prepend-icon="mdi-calendar"
                    readonly
                    :value="fromDateDisp"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  locale="fr"
                  :min="minDate"
                  :allowed-dates="allowedDates"
                  v-model="fromDateVal"
                  no-title
                  @input="fromDateMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
            >
              <v-select
                v-model="period"
                prepend-icon="mdi-timetable"
                :items="periodList"
                label="Heure"
                placeholder="Les heures disponibles"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
            >
              <v-select
                v-model="guest"
                prepend-icon="mdi-account-group"
                :items="guestList"
                label="Convives"
                placeholder="Nombre de convives"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
            >
              <v-textarea
                v-model="allergy"
                prepend-icon="mdi-allergy"
                label="Allergies"
                placeholder="Saisir vos allergies si vous en avez."
              ></v-textarea>
            </v-col>
          </v-row>
          <v-row
            v-if="errors"
          >
            <v-col
              cols="12"
              v-for="(error, index) in errors"
              :key="index"
              class="errors"
            >
              {{error}}
            </v-col>
          </v-row>
          <v-btn
            color="info"
            type="submit"
            name="Enregistrer"
          >
            Réserver pour {{this.price}} euros
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      valid: true,
      fromDateMenu: false,
      fromDateVal: null,
      city: null,
      minDate: new Date().toISOString().substr(0, 10),
      user:[],
      cityName: [],
      guestList: [],
      guest: null,
      bookings: [],
      dateAllow: [],
      period: null,
      idPeriod: null,
      allergy: null,
      menuId : this.$route.params.id,
      errors: [],
    }
  },
  async created () {
    await this.$axios
    .get(`/menu/detail/${this.menuId}`)
    .then(response => {
      this.menu = response.data
    })
    .catch((e) => {
      this.menu = []
    })
    await this.$axios
    .get(`/city/booking/${this.$route.params.id}`)
    .then(response => {
      let cities = response.data
      for (let city of cities) {
        this.cityName.push(city.name)
      }
    })
    for (let i = 1; i <= 25; i++) {
      this.guestList.push(i)
    }
    await this.$axios
    .get(`/menu/detail/${this.$route.params.id}/bookings`)
    .then(response => {
      this.bookings = response.data
      for (let booking of this.bookings) {
        if (booking.selected === false) {
          this.dateAllow.push(this.formatDateToEnglish(booking.date))
        }
      }
    })
  },
  methods:{
    checkForm: function (e) {
      this.errors = []
      if (!this.city) {
        this.errors.push('Ville obligatoire')
      }
      if (!this.fromDateDisp) {
        this.errors.push('Date obligatoire')
      }
      if (!this.period) {
        this.errors.push('Horaire obligatoire')
      }else {
        if (this.period === '11h00 - 14h00') {
          this.idPeriod = 1
        }else {
          this.idPeriod = 2
        }
      }
      if (!this.guest) {
        this.errors.push("Nombre obligatoire")
      }
      if (this.errors.length === 0) {
        this.$axios.post('user/me/add/booking', {
          menuId: this.menuId,
          periodId: this.idPeriod,
          guest: this.guest,
          date: this.fromDateDisp,
          allergy: this.allergy,
          price: this.price,
        })
        this.$router.push({path: '/user/booking'})
      }
      e.preventDefault();
    },
    formatDate (a) {
      const year = a.substr(0, 4)
      const month = a.substr(5, 2)
      const day = a.substr(8, 2)
      return `${day}/${month}/${year}`
    },
    formatDateToEnglish (a) {
      const year = a.substr(6, 4)
      const month = a.substr(3, 2)
      const day = a.substr(0, 2)
      return `${year}-${month}-${day}`
    },
    allowedDates: function (val) {
      return this.dateAllow.indexOf(val) !== -1
    }
  },
  computed: {
    price() {
      let priceMenu = 0
      if (this.guest) {
        priceMenu = this.guest * this.menu.price
        return priceMenu
      }else {
        return priceMenu
      }
    },
    periodList() {
      if (this.fromDateVal) {
        const period = []
        for (let booking of this.bookings) {
          if (this.formatDate(this.fromDateVal) === booking.date) {
            if (booking.period === 1) {
              period.push('11h00 - 14h00')
            }else {
              period.push('18h00 - 21h00')
            }
          }
        }
        return period
      }
    },
    fromDateDisp() {
      return this.fromDateVal ? this.formatDate(this.fromDateVal) : "";
    }
  }
}
</script>
<style>
  .errors{
    color: red;
  }
</style>
