<template>
  <div>
    <v-row>
      <v-col>
        <v-form
          ref="form"
          v-model="valid"
          id="app"
          @submit="checkForm"
          method="post"
          lazy-validation
        >
          <v-row>
            <v-col
              cols="12"
              lg="6"
            >
              <v-text-field
                v-model="name"
                label="Nom complet"
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              lg="4"
            >
              <v-text-field
                v-model="email"
                label="E-mail"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="birthday"
                label="Date de naissance"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="phone"
                label="Téléphone"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" lg="6">
              <v-text-field
                v-model="street"
                label="Rue"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" lg="6">
              <v-autocomplete
                v-model="city"
                :items="cityName"
                label="Ville"
                placeholder="Entrer le nom de votre ville"
                prepend-icon="mdi-city"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row
            v-if="errors"
          >
            <v-col
              cols="12"
              lg="2"
              v-for="(error, index) in errors"
              :key="index"
              class="errors"
            >
              {{error}}
            </v-col>
          </v-row>
          <v-btn
            color="info"
            type="submit"
            name="Enregistrer"
          >
            Enregistrer
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  components: {
  },
  data () {
    return {
      valid: true,
      name: null,
      email: null,
      phone: null,
      birthday: null,
      street: null,
      city: null,
      zip: null,
      user:[],
      address:[],
      cityName: [],
      errors: [],
      regexPhone: /^((\+)33|0)[1-9](.? ?\d{2}){4}$/,
      regexBithday: /^([0-2][0-9]|(3)[0-1])(\/)(((0)[0-9])|((1)[0-2]))(\/)\d{4}$/,
      regexEmail: /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/,
    }
  },
  async created () {
    await this.$axios
    .get('/city/list')
    .then(response => {
      let cities = response.data
      for (let city of cities) {
        this.cityName.push(city.name)
      }
    })
    await this.$axios
    .get('/user/me')
    .then(response => {
      this.user = response.data
      this.birthday = this.user.birthday
      this.phone = this.user.phone
      this.name = this.user.name
      this.email = this.user.email
    })
    await this.$axios
    .get('/user/me/address')
    .then(response => {
      this.address = response.data
      this.street = this.address.street
      this.city = this.address.city
      this.zip = this.address.zip
    })
    .catch((e) => {
      this.street = null
      this.city = null
      this.zip = null
    })
  },
  methods:{
    checkForm: function (e) {
      this.errors = []
      if (!this.name) {
        this.errors.push('Nom obligatoire obligatoire')
      }
      if (!this.email) {
        this.errors.push('Email obligatoire')
      }
      if (!this.email.match(this.regexEmail) === null) {
        this.errors.push('Email obligatoire')
      }
      if (!this.phone) {
        this.errors.push('Numéro de téléphone obligatoire')
      }
      if (this.phone.match(this.regexPhone) === null) {
        this.errors.push('Numéro de téléphone non valide')
      }
      if (!this.birthday) {
        this.errors.push('Date de naissance obligatoire')
      }
      if (this.birthday.match(this.regexBithday) === null) {
        this.errors.push('Date de naissance non valide, format : dd/mm/AAAA')
      }
      if (!this.street) {
        this.errors.push('Rue obligatoire')
      }
      if (!this.city) {
        this.errors.push('Ville obligatoire')
      }
      if (this.errors.length === 0) {
        this.$axios.post('user/me/add/info', {
          name: this.name,
          email: this.email,
          birthday: this.birthday,
          phone: this.phone,
        })
        this.$axios.post('user/me/add/address', {
          street: this.street,
          city: this.city,
        })
      }
      e.preventDefault();
    }
  }
}
</script>
<style>
  .errors{
    color: red;
  }
  .chef-photo {
    width: 100%;
  }
  @media (min-width: 411px) {
    .chef-photo {
      width: 387px;
    }
  }
  .text-muted{
    opacity: 0.5;
  }
</style>
