<template>
  <div>
    <v-row>
      <v-col
        cols="12"
      >
        <v-card
          min-height="200"
        >
          <v-row>
            <v-col
              cols="12"
              class="text-center mt-5"
            >
              <h2>{{menu.title}}</h2>
              <p class="mt-4">{{menu.description}}</p>
            </v-col>
          </v-row>
          <v-row
            class="text-center"
          >
            <v-col
              cols="12"
              lg="6"
            >
              <h3>Régime alimentaire</h3>
              <span
                class=""
                v-for="diet in diets"
                :key="diet.id"
              >
              <v-chip
                class="ma-2"
                label
              >
                {{diet.name}}
              </v-chip>
              </span>
            </v-col>
            <v-col
              cols="12"
              lg="6"
            >
              <h3>Catégories</h3>
              <span
                class=""
                v-for="category in categories"
                :key="category.id"
              >
              <v-chip
                class="ma-2"
                label
              >
                {{category.name}}
              </v-chip>
              </span>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>Entée</h3>
              <div
                class="starter mt-5"
                v-for="starter in starters"
              >
                {{starter.name}}
                <p>{{starter.description}}</p>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>Plat</h3>
              <div
                class="dish mt-5"
                v-for="dish in dishes"
              >
                {{dish.name}}
                <p>{{dish.description}}</p>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="text-center"
            >
              <h3>Dessert</h3>
              <div
                class="starter mt-5"
                v-for="dessert in desserts"
              >
                {{dessert.name}}
                <p>{{dessert.description}}</p>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import booking from '~/components/formUser/booking'
export default {
  components: {
    booking,
  },
  data () {
    return {
      id: this.$route.params.id,
      menu : [],
      starters: [],
      dishes: [],
      desserts: [],
      diets : [],
      categories : [],
    }
  },
  async created () {
    await this.$axios
    .get(`/menu/detail/${this.id}`)
    .then(response => {
      this.menu = response.data
    })
    .catch((e) => {
      this.menu = []
    })

    await this.$axios
    .get(`/menu/detail/${this.id}/starters`)
    .then(response => {
      this.starters = response.data
    })
    .catch((e) => {
      this.starters = []
    })

    await this.$axios
    .get(`/menu/detail/${this.id}/dishes`)
    .then(response => {
      this.dishes = response.data
    })
    .catch((e) => {
      this.dishes = []
    })

    await this.$axios
    .get(`/menu/detail/${this.id}/desserts`)
    .then(response => {
      this.desserts = response.data
    })
    .catch((e) => {
      this.desserts = []
    })

    await this.$axios
    .get(`/menu/detail/${this.id}/diets`)
    .then(response => {
      this.diets = response.data
    })
    .catch((e) => {
      this.diets = []
    })

    await this.$axios
    .get(`/menu/detail/${this.id}/categories`)
    .then(response => {
      this.categories = response.data
    })
    .catch((e) => {
      this.categories = []
    })
  },
  methods: {

  }
}
</script>

<style>
  .title {
    height: 4rem;
    overflow: auto;
  }

  @media (min-width: 1264px) {
    .edit-menu {
      float: right;
    }
  }
</style>
