<template>
  <div>
    <v-btn
      color="info"
      @click="showFilter = !showFilter"
      name="Filtre"
    >
      Filtres
    </v-btn>
    <v-flex
      v-if="showFilter === true"
    >
      <v-row>
        <v-col
          cols="6"
        >
          <h3>Régime alimentaire</h3>
          <v-list>
            <v-list-item
              v-for="diet in diets"
              :key="diet.id"

            >
              <v-checkbox
                v-model="checkedDiets"
                :label="diet.name"
                color="info"
                :value="diet.name"
                hide-details
              ></v-checkbox>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col
          cols="6"
        >
          <h3>Categories</h3>
          <v-list>
            <v-list-item
              v-for="category in categories"
              :key="category.id"

            >
              <v-checkbox
                v-model="checkedCategories"
                :label="category.name"
                color="info"
                :value="category.name"
                hide-details
              ></v-checkbox>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
        >
          <v-btn
            color="info"
            @click="updateData"
            name="Mise à jour données"
          >
            Enregistrer
          </v-btn>
          <v-btn
            color="info"
            @click="resetFilter"
            name="Reset filtre"
          >
            Reset
          </v-btn>
        </v-col>
      </v-row>
    </v-flex>
  </div>
</template>

<script>
export default {
  components: {
  },
  props: {
    value: Array,
    menus: Array
  },
  data () {
    return {
      showFilter: false,
      checkedDiets: [],
      diets: [],
      checkedCategories: [],
      categories: [],
      errors: [],
      menusActive: [],
    }
  },
  async created () {
    await this.$axios
    .get('/diets/list')
    .then(response => {
      this.diets = response.data
    })

    await this.$axios
    .get('/categories/list')
    .then(response => {
      this.categories = response.data
    })


  },
  methods:{
    async updateData() {
      const mesMenus = []

      for (let menu of this.menus) {
        const dietsMenu = null
        await this.$axios
        .get(`/menu/detail/${menu.id}/diets`)
        .then(response => {
          dietsMenu = response.data
        })
        const categoriesMenu = null
        await this.$axios
        .get(`/menu/detail/${menu.id}/categories`)
        .then(response => {
          categoriesMenu = response.data
        })


        if ((this.checkedDiets.length != 0) && (this.checkedCategories.length != 0)) {

          if (this.funcDiets(dietsMenu, this.checkedDiets, menu) === true && this.funcCategories(categoriesMenu, this.checkedCategories, menu) === true) {
            mesMenus.push(menu)
          }
        }else if (this.checkedDiets.length !==0) {

          if (this.funcDiets(dietsMenu, this.checkedDiets, menu) === true) {
            mesMenus.push(menu)
          }
        }else if (this.checkedCategories.length !==0) {

          if (this.funcCategories(categoriesMenu, this.checkedCategories, menu) === true) {
            mesMenus.push(menu)
          }
        }else {
          mesMenus.push(menu)
        }
      }
      this.$emit("input", mesMenus)
    },
    funcDiets (dietsMenu, checkedDiets, menu) {
      let i = 0
      for (let dietMenu of dietsMenu) {
        let nameDiet = dietMenu.name

        for (let dietcheck of checkedDiets) {
          if (dietcheck === nameDiet) {
            i += 1
          }
        }
      }
      if (i == checkedDiets.length) {
        return true
      }else {
        return false
      }
    },

    funcCategories (categoriesMenu, checkedCategories, menu) {
      let i = 0
      for (let categoryMenu of categoriesMenu) {
        let nameCategory = categoryMenu.name

        for (let dietcheck of checkedCategories) {
          if (dietcheck === nameCategory) {
            i += 1
          }
        }
      }
      if (i === checkedCategories.length) {
        return true
      }else {
        return false
      }
    },
    resetFilter () {
      let mesMenus = []
      this.checkedDiets = []
      this.checkedCategories= []
      for (let menu of this.menus) {
        mesMenus.push(menu)
      }
      this.$emit("input", mesMenus)
    }
  }
}
</script>
<style>
  .errors{
    color: red;
  }
  .text-muted{
    opacity: 0.5;
  }
</style>
