<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        class="text-center"
      >

        <v-row>
          <v-col
            cols="12"
            lg="3"
          >
          <v-autocomplete
            v-model="city"
            :items="cityName"
            label="Ville"
            placeholder="Ville"
            prepend-icon="mdi-city"
          ></v-autocomplete>
          </v-col>
          <v-col
            cols="12"
            lg="3"
          >
            <v-menu
              v-model="fromDateMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  label="Date"
                  prepend-icon="mdi-calendar"
                  readonly
                  :value="fromDateDisp"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                locale="fr"
                :min="minDate"
                v-model="fromDateVal"
                no-title
                @input="fromDateMenu = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col
            cols="12"
            lg="2"
          >
          <v-select
            v-model="hour"
            prepend-icon="mdi-timetable"
            :items="hoursList"
            label="Heure"
            placeholder="Heure"
          ></v-select>
          </v-col>
          <v-col
            cols="12"
            lg="2"
          >
            <v-btn
              color="info"
              class="mt-3"
              @click="checkForm"
              name="Recherche menu"
            >
              Voir les menus
            </v-btn>
          </v-col>
          <v-col
            cols="12"
            lg="2"
          >
            <v-btn
              color="info"
              class="mt-3"
              @click="resetSearch"
              name="Reset Recherche"
            >
              Reset
            </v-btn>
          </v-col>
        </v-row>
        <v-row
          v-if="errors"
        >
          <v-col
            cols="12"
            lg="2"
            v-for="(error, index) in errors"
            :key="index"
            class="errors"
          >
            {{error}}
          </v-col>
        </v-row>

      </v-col>
    </v-row>

    <filterMenus v-model="menus" v-bind:menus="menusFilter"/>

    <v-row>
      <v-col
        cols="12"
        lg="12"
      >
        <v-row
          v-if="menus.length !== 0"
        >
          <v-col
            cols="12"
            lg="6"
            v-for="menu in menus"
            :key="menu.id"
          >
            <v-card
              min-height="200"
            >
              <div
                class="menu-title text-center"
              >
                <h2 class="pt-3">{{menu.title}}</h2>
              </div>
              <div
                class="menu-description text-center pt-3"
              >
                {{menu.description}}
              </div>
                <v-row
                  class="menu-button text-center pt-3"
                >
                  <v-col
                    cols="12"
                  >
                    <v-btn
                      color="info"
                      :to ="`/homeChef/menus/${menu.id}`"
                      name="Détail menu"
                    >
                      Voir
                    </v-btn>
                  </v-col>
                </v-row>
            </v-card>
          </v-col>
        </v-row>
        <v-row
          v-else
        >
          <v-col
            cols="12"
          >
            Vous n'avez pas de menus
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import filterMenus from '~/components/menus/filter'

export default {
  components: {
    filterMenus,
  },
  data () {
    return {
      fromDateMenu: false,
      fromDateVal: null,
      minDate: new Date().toISOString().substr(0, 10),
      valid: true,
      city: null,
      date: null,
      hour: null,
      datePost: null,
      hoursList: [
        '11h00 - 14h00',
        '18h00 - 21h00'
      ],
      cityName: [],
      errors: [],
      menus : [],
      menusFilter: [],
    }
  },
  async created () {
    await this.$axios
    .get('/city/list')
    .then(response => {
      let cities = response.data
      for (let city of cities) {
        this.cityName.push(city.name)
      }
    })
    await this.$axios
    .get('/menu')
    .then(response => {
      this.menus = response.data
      this.menusFilter = response.data
    })
    .catch((e) => {
      this.menus = []
    })
  },
  methods: {
    async checkForm() {
      this.errors = []
      if (!this.city) {
        this.errors.push('Veuillez selectionnez une ville')
      }
      if (this.fromDateVal) {
        this.datePost = this.formatDate(this.fromDateVal)
      }
      if (this.errors.length === 0) {

        await this.$axios
        .post('/menu/search', {
          citySearch : this.city,
          dateSearch: this.datePost,
          timeSearch: this.hour
        })
        .then(response => {
          this.menus = response.data
          this.menusFilter = response.data
        })
      }
    },
    formatDate (a) {
      const year = a.substr(0, 4)
      const month = a.substr(5, 2)
      const day = a.substr(8, 2)
      return `${day}/${month}/${year}`
    },
    resetSearch () {
      this.$router.go(0)
    },
  },
  computed: {
    fromDateDisp() {
      return this.fromDateVal ? this.formatDate(this.fromDateVal) : "";
    }
  }
}
</script>

<style>
  .menu-title {
    height: 4rem;
    overflow: auto;
  }

  @media (min-width: 1264px) {
    .create-menu {
      float: right;
    }
  }
</style>
