<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center mb-4"
        >
          <h2>Votre menu</h2>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
        >
          <v-btn
            color="info"
            to ="/homeChef/menus"
            name="Liste des menus"
          >
            Tous les menus
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="12"
          lg="8"
        >
          <detail/>
          <cardChef />
        </v-col>

        <v-col
          cols="12"
          lg="4"
        >
          <booking />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import detail from '~/components/menus/detail'
import booking from '~/components/formUser/booking'
import cardChef from '~/components/menus/chef/card'

export default {
  middleware: ['authenticated', 'isAuthenticatedChef'],
  components: {
    headerChef,
    detail,
    booking,
    cardChef,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Détail menu",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
