<template>
  <div>
    <v-flex>
      <headerChef/>
    </v-flex>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          class="text-center mb-4"
        >
          <h2>Tous les menus</h2>
        </v-col>
      </v-row>
      <list />
    </v-container>
  </div>
</template>

<script>
import headerChef from '~/components/chef/headerChef'
import list from '~/components/menus/list'


export default {
  middleware: ['authenticated', 'isAuthenticatedChef'],
  components: {
    headerChef,
    list,
  },
  data () {
    return {
    }
  },
  head () {
    return {
      title: "Liste des menus",
    }
  },
  created () {
  },
  methods:{
  }
}
</script>
