<template>
  <div class="google">
    <v-row class="mt-5">
      <v-col cols="12">
        <h2>Se connecter</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <GoogleLogin :params="params"  :onSuccess="onSuccess" class="mt-4">
          <v-btn class="button-google" name="Google">
            <v-row>
              <v-col cols="2">
                <img src="../../assets/google.svg" alt="Google" class="google-image">
              </v-col>
              <v-col cols="10">
                Google
              </v-col>
            </v-row>
          </v-btn>
        </GoogleLogin>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import GoogleLogin from 'vue-google-login'
import Cookies from 'js-cookie'
export default {
  components: {
    GoogleLogin,
  },
  data () {
    return {
      params: {
        clientId :'38610440617-1c31lrnmo05j2n0jjvaarafgnuhi6plp.apps.googleusercontent.com'
      },
      renderParams: {
        width: 250,
        height: 40,
        longtitle: false
      },
    }
  },
  created () {

  },
  methods: {
    async onSuccess (googleUser) {
      const idToken = await googleUser.getAuthResponse().id_token
      const {data} = await this.$axios.post('/google', {
        id_token: idToken
      });
      Cookies.set("JWT", data)
      this.$router.go(0)
    },
  }
}
</script>

<style>
  .google-image {
    width: 100%
  }
</style>
