<template>
  <div>
    <v-row>
      <v-col cols="12" class="mt-3">
        <h2>Pas encore inscrits, n'hésitez pas rejoignez-nous</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" lg="6" class="mt-5">
        <h3>Vous souhaitez avoir une expérience culinaire</h3>
        <v-btn
          to="/connexionUser"
          class="mt-4"
          name="Connexion user"
        >
          Je suis un client
        </v-btn>
      </v-col>
      <v-col cols="12" lg="6" class="mt-5">
        <h3>Vous êtes chef et souhaitez démarrer une nouvelle aventure</h3>
        <v-btn
          to="/connexionChef"
          class="mt-4"
          name="Connexion chef"
        >
          Je suis un chef
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  export default {
    data () {
      return {
      }
    },
    created () {
    },
  }
</script>

<style>

</style>
